.about {
    padding: 100px 5vw;
    background-image: linear-gradient(-45deg,black, black, black, #e50f95, rgb(0, 149, 255));
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    width: 100%;
    display: flex;
    /* gap:; */
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: space-between;
    /* background: black; */
    overflow: hidden;
    h1{
        color: white;
        text-align: center;
        font-size: 120px;
    }
    @media screen and (max-width: 768px) {
        flex-direction: column;
        width: 100%;
        padding: 50px 10vw;
    }
  
      .right{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 50px;
        img{
            width: 400px;
            height: 400px;
            border-radius: 50%;
          
           
            /* height: 200px; */
        
        }
      }
}
@media screen and (max-width:800px) {
    .about{justify-content: center;}
    .about .right{margin-right: 0; img{width:200px;height:250px;}}

}
.about .left {
    display: flex;
    width: 100%;
    flex-direction: column;
    /* align-items: flex-start;  */
    .personal-det{
        display: flex;
        flex-direction: column;
        gap:10px;
        margin-top: 20px;
        .det{
            display: flex;
            gap:10px;
            border: 1px solid rgb(184, 173, 173);
            color:rgb(184, 173, 173);
            padding: 5px 20px;
            border-radius: 20px;
            font-weight: bold;
            font-size: 20px;
        }
        .det:hover{
            background-color:white;
            color:black;
            border: none;
        }
    }
    .about-content {
        padding: 30px;
        width: 100%;
        /* max-width: 300px; */
        margin-top: 20px;
        line-height: 1.6;
        color: rgb(184, 173, 173);
        animation: slideInLeft 2s ease-in-out;
        /* box-shadow: 2px 2px 10px #e50f95; */
        border-radius: 10px;
       
        border-left: 5px solid rgb(184, 173, 173);

        p {
            letter-spacing: 1px;
            font-size: 25;
            
                font-weight: bolder;
                /* color:  white; */
            
        }
    }

    .about-content:hover {
        /* background-color: rgb(34, 32, 32); */
        /* transform: scale(1.03); */
        /* p{color:black;} */
        /* background-color:white; */
        h1 {
            color: black;
        }
        
    }
}

/* Responsive adjustments for smaller screens */
@media screen and (max-width: 800px) {
    .about {
        flex-direction: column;
        align-items: center;
    gap:0;
    padding: 0 4vw;
        /* width: 100%; */
        h1{
            margin-bottom: 10px;
            text-align: center;
            font-size: 80px;
            margin-top: 50px;
        }
        .left .personal-det{
            margin-top: 0;
            .det{
                font-size: 15px;
            }
        }
        .left .about-content {
            max-width: 100%;
            padding: 20px;
            margin-bottom: 50px;
            p{
                font-size: 1rem;
            }
        }
        .right{
            img{
                width: 90vw;
                height: 45vh;
            }
        }
    }

   
}
