/* General Navbar Styling */
.nav {
    position: fixed;
    top:20px;
    z-index: 2;

    height: 10vh;
    background-color: transparent;

    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    margin-left: 10%;
    border: 1px solid rgb(135, 131, 131);
    border-radius: 50px;
  }
  
  .nav img {
    width: 120px;
  }
  
  .nav ul {
    display: flex;
    gap:40px;
    align-items: center;
    justify-content: space-around;
    transition: all 0.3s ease;
  }
  
  .nav li {
    list-style: none;
  }
  
  .nav a {
    text-decoration: none;
    color: white;
    font-size: 18px;
  }
  
  /* Hamburger Menu */
  .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .bar {
    background-color: white;
    height: 3px;
    width: 25px;
    margin: 3px 0;
    transition: all 0.3s ease;
  }
  
  /* Hamburger Active State */
  .bar.open:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .bar.open:nth-child(2) {
    opacity: 0;
  }
  .bar.open:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  
  /* Responsive Design */
  @media screen and (max-width: 768px) {
    .hamburger {
      display: flex; /* Show hamburger */
    }
  
    .nav ul {
      position: absolute;
      top: 12vh;
      right: 0;
      width: 100%;
      flex-direction: column;
      background-color: black;
      display: none; /* Hidden by default */
    }
  
    .nav ul.menu.active {
      display: flex;
      border-bottom: 5px solid var(--theme-color); /* Show menu when active */
    }
  
    .nav li {
      margin: 15px 0;
    }
  
    .nav img {
      width: 100px; /* Adjust logo size */
    }
  }
  