.footer{
    /* position: fixed; */
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    /* gap:50px; */
    align-items: center;
    h2{
        font-size: 10vw;
        text-align: center;
    }
.links{
    display: flex;
    gap:20px;
}
    

    background-image: linear-gradient(135deg,black,black,black, #e50f95, rgb(0, 149, 255));
    gap:3vw;
    a{
        text-decoration: none;
        list-style: none;
    }
    a:hover{
        transform: scale(1.2);
    }
    /* top:90vh; */
}
@media screen and ( max-width: 800px) {
    .footer{
        flex-direction: column;
        h2{
            font-size: 60px;
        }
    }
}