/* projectcards.css */

.pcards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(34, 32, 32);
    /* background-color: rgb(33, 32, 32); */
   /* border-left: 10px solid var(--theme-color); */
  /* Dark background */
  
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(5, 5, 5, 0.3);
    overflow: hidden;
    margin: 20px 0;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 100%;
  
  
  .left {
    /* flex: 1; */
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px; 
  }
  
  .left img {
    width: 100%;
    max-width: 800px;
    margin-top: 20px;
    /* height: 600px; */
    border-radius: 10px;
    transition: transform 0.3s ease;
  }
  
  .left img:hover {
    transform: scale(1.1);
  }
 
  
  .right {
    /* flex: 2; */
    padding: 20px;
     /* width: 60%; */
   h2 {
    color: white; /* Tomato text */
    margin-bottom: 15px;
    text-align: center;
    font-size: 2rem;
  }
  }
  
  .right p {
    color: #ffffff; /* White text */
    font-size: 1.2rem;
    margin-bottom: 20px;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    gap:5px;
    
    li{
      
      list-style: none;
    }
  }
  
  .links {
    display: flex;
    gap: 15px;
  }
  
  .links a {
    text-decoration: none;
    color: #1a1a1a; /* Dark text */
    background: var(--theme-color); /* Tomato background */
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    transition: background 0.3s ease, color 0.3s ease;
  }
  
  .links a:hover {
    background: transparent; /* White 
    borbackground */
    color: var(--theme-color); /* Tomato text */
    border: 1px solid var(--theme-color);
  }
}  

.pcards:hover {
    transform: scale(1.05);
    background-color: black;
   /* Tomato shadow */
    /* border: 2px solid var(--theme-color); */
  }
  @media screen and (max-width:1100px) {
    .pcards{
      padding: 10px;
      width: 100%;
      /* flex-direction: column; */
    }
    .left {
      width: 50%;
      h2{font-size:25px;color:var(--theme-color)}
     
      /* max-width: 1000px; */
     img{
      width: 400px;
     }
    }
    .right{width: 50%;}
  }

  @media screen and (max-width: 900px) {
    .pcards{
      display: flex;
      flex-direction: column;
      .left{
        width: 100%;
        padding: 20px;
        
        
        
        img:hover{
          transform: scale(1.05);
        }
      }
      .right{
        width: 100%;
      }
      /* background-color: black; */

    }
   
  }